@import "~../node_modules/bootstrap/dist/css/bootstrap.css";
.homepage{
  background-image: url("assets/background.jpg");
}
.describe{
  font-style: italic;
  font-family: fantasy;
}
.heading{
  text-align: center;
}
input{
  border-radius: 10px;
}
